body {
  background-color: #192629;
  color: #F6F0F4;
}

.text-green {
  color: #75FF38;
}

button.b-outline{
  background-color: transparent;
  padding: .375rem .75rem;
  border-width: 1px;
  border-style: solid;
  border-color: #75FF38;
  border-radius: 1000px;
  color: #F6F0F4;
}
button.b-outline-orange{
  background-color: transparent;
  padding: .375rem .75rem;
  border-width: 1px;
  border-style: solid;
  border-color: #FFCC1F;
  border-radius: 1000px;
  color: #F6F0F4;
}
button.b-filled{
  background-color: #75FF38;
  padding: .375rem .75rem;
  border-width: 1px;
  border-style: solid;
  border-color: #75FF38;
  border-radius: 1000px;
  color: #192629;
}
button.b-filled:hover{
  background-color: #50AB27;
  padding: .375rem .75rem;
  border-width: 1px;
  border-style: solid;
  border-color: #75FF38;
  border-radius: 1000px;
  color: #192629;
}
button.b-filled-orange{
  background-color: #FFCC1F;
  padding: .375rem .75rem;
  border-width: 1px;
  border-style: solid;
  border-color: #FFCC1F;
  border-radius: 1000px;
  color: #192629;
}
button.b-filled-orange:hover{
  background-color: #E8E627;
  padding: .375rem .75rem;
  border-width: 1px;
  border-style: solid;
  border-color: #E8E627;
  border-radius: 1000px;
  color: #192629;
}
button.b-reload {
  background-color: transparent;
  /* padding: .375rem .75rem; */
  border-style: none;
  color: #75FF38;
}

hr {
  border-color: #50AB27;
}

a {
  /* color: #2BFFF7 */
  color: #FFCC1F;
  /* color: #75FF38;
  color: #27E86D */
}
a:hover {
  color: #8F1527;
  text-decoration: none;
}

.b-dropdown {  
  color: #75FF38;
  /* margin-left: .75rem; */
}
.b-dropdown:hover {  
  color: #F6F0F4;
  /* margin-left: .75rem; */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 0px solid #75FF38;
    text-align: left;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .t-devices {
    border: 1px solid #27E86D;
    border-radius: 20px;
    padding: 5px;
  }

  .device-detail {
    color: #FFCC1F;
  }

  ul {
    border: 1px solid #27E86D;
    border-radius: 20px;
  }

  td>h3 {
    
  }

  label {
    color: #75FF38;
  }

  input {
    background-color: transparent;
    border-color: #75FF38;
    color: #F6F0F4;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */

  footer {
    border-top: 1px solid #75FF38;
      text-align: center;
  }